In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

**Importo informe aereo**

In [93]:
aviones=pd.read_csv(r'PI03-Analytics\AccidentesAviones.csv')

## Analisis de Dataset:"Accidentes Aviones"

**a_ Verifico si tiene datos nulos el informe y si las columnas estan en el formato que corresponde**

In [619]:
aviones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

**b_ Corrijo columnas que no son del tipo adecuado**

##
*Diccionario de datos:
*fecha: fecha de despegue del vuelo
*Hora declarada: Hora de accidente
*Ruta: Ruta de despegue de aernove
*OperadOR: Tipo de aeronave
*flight_no: Vuelo Numero
*route: Ruta de colision 
*ac_type: Modelo de aeronave
*registration:
*cn_ln: Numero de serie
*all_aboard: Todos los que estaban abordo
*PASAJEROS A BORDO: Pasajeros dentro del avion
*crew_aboard: Tripulacion abordo
*cantidad de fallecidos: Total de personas fallecidas
*passenger_fatalities: Pasajeros fallecidos
*crew_fatalities: Tripulacion fallecida
*ground: personas que fallecieron en tierra a causa del accidente
*summary
##

In [540]:
aviones.shape[0]

5008

In [360]:
aviones.dtypes

Unnamed: 0                 int64
fecha                     object
HORA declarada            object
Ruta                      object
OperadOR                  object
flight_no                 object
route                     object
ac_type                   object
registration              object
cn_ln                     object
all_aboard                object
PASAJEROS A BORDO         object
crew_aboard               object
cantidad de fallecidos    object
passenger_fatalities      object
crew_fatalities           object
ground                    object
summary                   object
dtype: object

In [541]:
aviones['all_aboard'].value_counts()

3      280
2      246
4      202
5      190
10     179
      ...
256      1
524      1
329      1
274      1
190      1
Name: all_aboard, Length: 245, dtype: int64

In [326]:
aviones['flight_no'].value_counts()

?        3682
-          36
1          11
101         9
6           7
         ...
138         1
124         1
1-10        1
4422        1
SJ182       1
Name: flight_no, Length: 893, dtype: int64

In [94]:
aviones['fecha']=pd.to_datetime(aviones['fecha'])

* Reemplazo '?' por 0 para pasar la columna a numerica, quito todos los simbolos y letras que tenia

In [95]:
aviones['HORA declarada']=aviones['HORA declarada'].replace(['?'],'0000')
aviones['HORA declarada']=aviones['HORA declarada'].replace([0],'0000')
aviones['HORA declarada']=aviones['HORA declarada'].astype(str).apply(lambda x: x.strip('cZ'))
aviones['HORA declarada'] = aviones['HORA declarada'].astype(str).apply(lambda x: x.replace(":",""))
aviones['HORA declarada'] = aviones['HORA declarada'].astype(str).apply(lambda x: x.replace(";",""))

In [96]:
aviones['HORA declarada']

0       1718
1       0000
2       0630
3       0000
4       1830
        ...
5003    1835
5004    1800
5005    0800
5006    1130
5007    1500
Name: HORA declarada, Length: 5008, dtype: object

In [97]:
aviones['HORA declarada']=aviones['HORA declarada'].astype(int)

* Normalizar columnas con datos faltantes

In [98]:
aviones['OperadOR']=aviones['OperadOR'].replace(['?'],'No informado')
aviones['route']=aviones['route'].replace(['?'],'No informada')
aviones['ac_type']=aviones['ac_type'].replace(['?'],'No informada')

In [99]:
aviones['registration']=aviones['registration'].replace(['?'],'No informado')

**c_ Reemplazo '?' por 0 para poder pasar la columna a numerica**

In [100]:
aviones['PASAJEROS A BORDO']=aviones['PASAJEROS A BORDO'].replace(['?'],0)

In [101]:
aviones['PASAJEROS A BORDO']=aviones['PASAJEROS A BORDO'].astype(int)

**d_ Reemplazo '?' por 1 para poder pasar la columna a numerica, ya que al menos debe estar el piloto en el avion**

In [102]:
aviones['crew_aboard']=aviones['crew_aboard'].replace(['?'],1)

In [103]:
aviones['crew_aboard'] =aviones['crew_aboard'].astype(int)

**e_reemplazo ? por 0 para poder convertir la columna a numerica**

In [105]:
aviones['all_aboard']=aviones['all_aboard'].replace(['?'],1)
aviones['all_aboard']=aviones['all_aboard'].replace(['0'],1)

In [106]:
aviones['all_aboard'] =aviones['all_aboard'].astype(int)

**f_hago lo mismo con las columnas de fallecidos, reemplazo ? con 0, ya que no se puede asegurar que hubo muertes. Y luego paso las columnas a tipo numericas**

In [107]:
aviones['cantidad de fallecidos']=aviones['cantidad de fallecidos'].replace(['?'],0)
aviones['passenger_fatalities']=aviones['passenger_fatalities'].replace(['?'],0)
aviones['crew_fatalities']=aviones['crew_fatalities'].replace(['?'],0)
aviones['ground']=aviones['ground'].replace(['?'],0)

In [108]:
aviones['cantidad de fallecidos'] =aviones['cantidad de fallecidos'].astype(int)
aviones['passenger_fatalities'] =aviones['passenger_fatalities'].astype(int)
aviones['crew_fatalities'] =aviones['crew_fatalities'].astype(int)
aviones['ground'] =aviones['ground'].astype(int)

**g_elimino columnas que no sirvan**

In [654]:
aviones.columns

Index(['Unnamed: 0', 'fecha', 'HORA declarada', 'Ruta', 'OperadOR',
       'flight_no', 'route', 'ac_type', 'registration', 'cn_ln', 'all_aboard',
       'PASAJEROS A BORDO', 'crew_aboard', 'cantidad de fallecidos',
       'passenger_fatalities', 'crew_fatalities', 'ground', 'summary',
       'suma_total'],
      dtype='object')

**Elimino columnas que no voy a usar y renombro las que me quedo**

In [109]:
#Columnas que considero que no son relevantes para el dashboard, ya que no las voy a abordar
aviones.drop(['Unnamed: 0','flight_no','registration','cn_ln','summary'],axis='columns', inplace=True)

*Renombro columnas para que se pueda comprender mas facilmente

In [74]:
accidentes=aviones.set_axis(['Fecha','Hora','Ruta_despegue','Operador','Ruta_accidente','Tipo',
'Total_abordo','pasajeros','Tripulacion','Total_fallecidos','Pasajeros_fallecidos','Tripulacion_fallecida','Fallecidos_en_tierra'],axis=1)

**PASO EL DATAFRAME LIMPIO A CSV**

In [75]:
accidentes.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\Accidentes.csv',index= False)

**Informacion datasets complementarios**

In [85]:
errores_control=pd.read_html('http://www.planecrashinfo.com/CATATC.htm')
golpes_aves=pd.read_html('http://www.planecrashinfo.com/CATBS.htm')
incendio=pd.read_html('http://www.planecrashinfo.com/CATCH.htm')
diseño=pd.read_html('http://www.planecrashinfo.com/CATDF.htm')
combustible=pd.read_html('http://www.planecrashinfo.com/CATFS.htm')
relampago=pd.read_html('http://www.planecrashinfo.com/CATL.htm')
sabotaje=pd.read_html('http://www.planecrashinfo.com/CATS.htm')

## Analisis de datasets

**Accidentes por: Errores de control**

*Normalizacion de tabla 'errores_control'*

In [9]:
errores_control=errores_control[0] #acomodar en formato dataframe
errores_control.columns=['Fecha','Ubicacion','Aerolinea','Suceso']#renombrar columnas
errores_control=errores_control.drop(0)#borra primera fila
errores_control['Fecha']=pd.to_datetime(errores_control['Fecha']) #pasar columna fecha a tipo fecha
errores_control['Categoria']='Errores de control' #crear columna con categoria a la que pertenece

*Guardar tabla como csv

In [21]:
errores_control.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\errores_control.csv')

**Accidentes por: Golpe de aves**

*Normalizacion de tabla 'golpes_aves'*

In [14]:
golpes_aves=golpes_aves[0] #acomodar en formato dataframe
golpes_aves.columns=['Fecha','Ubicacion','Aerolinea','Suceso']#renombrar columnas
golpes_aves=golpes_aves.drop(0)#borra primera fila
golpes_aves['Fecha']=pd.to_datetime(golpes_aves['Fecha']) #pasar columna fecha a tipo fecha
golpes_aves['Categoria']='Golpes de aves' #crear columna con categoria a la que pertenece

In [30]:
golpes_aves.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\golpes_aves.csv')

**Accidentes por: Incendio en aeronave**

In [22]:
incendio=incendio[0] #acomodar en formato dataframe
incendio.columns=['Fecha','Ubicacion','Aerolinea','Suceso']#renombrar columnas
incendio=incendio.drop(0)#borra primera fila
incendio['Fecha']=pd.to_datetime(incendio['Fecha'])#pasar columna fecha a tipo fecha
incendio['Categoria']='Incendio abordo' #crear columna con categoria a la que pertenece

In [28]:
incendio.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\incendio.csv')

**Accidentes por: defectos de diseño**

In [32]:
diseño=diseño[0]
diseño.columns=['Fecha','Ubicacion','Aerolinea','Suceso']#renombrar columnas
diseño=diseño.drop(0)#borra primera fila
diseño['Fecha']=pd.to_datetime(diseño['Fecha'])#pasar columna fecha a tipo fecha
diseño['Categoria']='Falla en diseño' #crear columna con categoria a la que pertenece

In [382]:
diseño.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\diseño.csv')

**Accidentes por: Falta de combustible**

In [38]:
combustible=combustible[0]
combustible.columns=['Fecha','Ubicacion','Aerolinea','Suceso']#renombrar columnas
combustible=combustible.drop(0)#borra primera fila
combustible['Fecha']=pd.to_datetime(combustible['Fecha'])#pasar columna fecha a tipo fecha
combustible['Categoria']='Falta de combustible'#crear columna con categoria a la que pertenece

In [389]:
combustible.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\combustible.csv')

**Accidentes por: Relámpagos**

In [45]:
relampago=relampago[0]
relampago.columns=['Fecha','Ubicacion','Aerolinea','Suceso']#renombrar columnas
relampago=relampago.drop(0)#borra primera fila
relampago['Fecha']=pd.to_datetime(relampago['Fecha'])#pasar columna fecha a tipo fecha
relampago['Categoria']='Tormentas' #crear columna con categoria a la que pertenece

In [403]:
relampago.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\relampago.csv')

**Concatenacion de tipos de accidentes**

In [50]:
Tipos_accidentes=pd.concat([errores_control,golpes_aves,combustible,diseño,relampago],axis=0)

In [52]:
Tipos_accidentes.to_csv(r'C:\Users\fotot\OneDrive\Escritorio\PI3\Tipos_accidentes.csv')

## **Diccionario de datos:**

**Tabla 'Accidentes'**

 fecha: fecha de despegue del vuelo.
 Hora: Hora de accidente.
 Ruta_despegue: Ruta de despegue de aeronave.
 Operador: Aerolinea.
 Ruta_accidente: Ruta de colision.
 Tipo: Modelo de aeronave.
 Total_abordo: Todos los que estaban abordo.
 Pasajeros: Pasajeros dentro del avion.
 Tripulacion: Tripulacion abordo.
 Total_fallecidos: Total de personas fallecidas.
 Pasajeros_fallecidos: Pasajeros fallecidos.
 Tripulacion_fallecida: Tripulacion fallecida.
 Fallecidos_en_tierra: personas que fallecieron en tierra a causa del accidente.

**Tabla:Tipos_accidentes**
Fecha: fecha de accidente
Ubicacion: lugar del accidente
Aerolinea: aerolinea a cargo del avion
Suceso: descripcion de lo sucedio